.title{
    margin-left: 250px;
    margin-top: 40px;
}

.custom-title-bg {
    background-color: #eeeded; /* 灰色背景 */
    padding: .75rem 1.25rem; /* 标题内边距 */
    width: 100%; /* 确保背景色填充整个标题区域 */
}

.custom-card-position {
    width: 1000px; /* 设置卡片为固定宽度 */
    margin-left: 130px; /* 与标题对齐 */
    margin-bottom:10px;
}

.container.mt-5 {
    margin-top: 2rem !important; /* 例：改变上边距为2rem */
}

.wallet{
    margin-left: 250px;
    margin-top: 20px;
}

.value-row {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 20px; /* 确保右侧有足够空间 */
}

.num-value {
  margin-left: auto; 
  text-align: left;
  max-width: 60%; 
}
.custom-title-bg {
  display: flex;
  align-items: center;
}

.card-title + .card-title {
  margin-left: 8px; /* 或者根据需要调整 */
}
.triangle-icon {
  width: 15px; /* 调整为你需要的宽度 */
  height: auto; /* 保持图片的宽高比 */
}
.warning-message {
  color: red;
  font-size: 0.8em; /* 例子中使用em单位，但你可以根据需要使用px, pt, % 或其他CSS单位 */
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.close {
  border: none;
  background: transparent;
  opacity: 1; /* 根据需要调整透明度 */
}
.modal-footer {
  display: flex;
  align-items: center; /* 确保内容垂直居中 */
  justify-content: space-between; /* 保证内容分布在两端 */
}
.custom-alert {
  width: 67.5%; /* 自定义宽度 */
  margin: 0 auto; /* 上下保持原有的margin，左右自动调整以居中 */
  text-align: center; /* 文本居中 */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; /* 使用视口高度作为容器的高度，这样子项就可以在整个视口中居中 */
  width: 100vw; /* 使用视口宽度作为容器的宽度 */
  transform: translateY(-30%);
}

.spinner-image {
  animation: spin 1s linear infinite;
  width: 100px; /* 缩小图片尺寸到合适大小 */
  height: 100px; /* 缩小图片尺寸到合适大小 */
}

.success-alert {
  margin-top: 20px;
  width: 90%;
  height:50px;
  max-width: 1000px;
  margin-left: 250px;
  margin-bottom:20px;
  display: flex;
  justify-content: center; /* 保持文本居中 */
  align-items: center;
  padding: 0 15px; /* 为关闭按钮留出空间 */
  position: relative; /* 为绝对定位的关闭按钮设置相对定位上下文 */
}

.success-alert .btn-close {
  position: absolute; /* 绝对定位关闭按钮 */
  right: 0; /* 将关闭按钮放置在最右侧 */
  top: 50%; /* 垂直居中 */
  transform: translateY(-50%); /* 确保垂直居中 */
}

.success-message {
  text-align: center;
  flex-grow: 1; /* 使文本容器填充整个可用空间 */
}
.custom-title-bg {
  cursor: pointer; /* 只有鼠标悬停在这个区域时，才显示手指光标 */
}